SOAP2/resources/JosekiQueryService.wsdl

<description xmlns="http://www.w3.org/ns/wsdl" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://www.w3.org/2005/08/sparql-protocol-query/#" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:ns0="http://www.w3.org/2005/sparql-results#" xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:st="http://www.w3.org/2005/09/sparql-protocol-types/#" targetNamespace="http://www.w3.org/2005/08/sparql-protocol-query/#"><documentation> This document describes the SPARQL Protocol for RDF as a web service with one interface, SparqlQuery,&#xd;
  containing one operation, query; as welll as HTTP and SOAP bindings of that interface. See&#xd;
  http://www.w3.org/2001/sw/DataAccess/proto-wd/ for the SPARQL Protocol for RDF specification. </documentation><types><xs:schema xmlns:res="http://www.w3.org/2005/sparql-results#" xmlns:wsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2005/sparql-results#">
<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xsd0.xsd" />
<xs:import namespace="http://www.w3.org/2001/XMLSchema-instance" schemaLocation="xsd1.xsd" />
<xs:attributeGroup name="xmlLang">
<xs:attribute ref="xml:lang" use="required" />
</xs:attributeGroup>
<xs:element name="sparql" type="ns0:sparql_type0" />
<xs:element name="head" type="ns0:head_type0" />
<xs:element name="variable" type="ns0:variable_type0" />
<xs:attributeGroup name="nameAttr">
<xs:attribute name="name" type="xs:NMTOKEN" use="required" />
</xs:attributeGroup>
<xs:attributeGroup name="hrefAttr">
<xs:attribute name="href" type="ns0:URI-reference" use="required" />
</xs:attributeGroup>
<xs:element name="link" type="ns0:link_type0" />
<xs:element name="results" type="ns0:results_type0" />
<xs:element name="boolean" type="xs:boolean" />
<xs:element name="result" type="ns0:result_type0" />
<xs:element name="binding" type="ns0:binding_type0" />
<xs:element name="uri" type="xs:string" />
<xs:element name="bnode" type="xs:string" />
<xs:element name="literal" type="ns0:literal_type0" />
<xs:attributeGroup name="indexAttr">
<xs:attribute name="index" type="xs:positiveInteger" use="required" />
</xs:attributeGroup>
<xs:attributeGroup name="datatypeAttr">
<xs:attribute name="datatype" type="ns0:URI-reference" use="required" />
</xs:attributeGroup>
<xs:simpleType name="URI-reference">
<xs:restriction base="xs:anyURI" />
</xs:simpleType>
</xs:schema><xs:schema xmlns:vbr="http://www.w3.org/2005/sparql-results#" xmlns:wsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.w3.org/2005/09/sparql-protocol-types/#">
<xs:import namespace="http://www.w3.org/2005/sparql-results#" schemaLocation="xsd2.xsd" />
<xs:import namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" schemaLocation="xsd5.xsd" />
<xs:element name="query-request">
<xs:complexType>
<xs:sequence>
<xs:element name="query" type="xs:string">
<xs:annotation>
<xs:documentation>query is an xs:string constrained by the language definition,
             http://www.w3.org/TR/rdf-sparql-query/#grammar, as "a sequence of characters in 
             the language defined by the [SPARQL] grammar, starting with the Query production"
           </xs:documentation>
</xs:annotation>
</xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="default-graph-uri" type="xs:anyURI" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="named-graph-uri" type="xs:anyURI" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="query-result">
<xs:annotation>
<xs:documentation>The type for serializing query results, either as XML or RDF/XML.</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:choice>
<xs:element ref="ns0:sparql" />
<xs:element ref="rdf:RDF" />
</xs:choice>
</xs:complexType>
</xs:element>
<xs:element name="fault-details" type="xs:string">
<xs:annotation>
<xs:documentation> This element contains human-readable information about the fault returned by 
	    the SPARQL query processing service.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="malformed-query">
<xs:complexType>
<xs:all>
<xs:element minOccurs="0" ref="st:fault-details" />
</xs:all>
</xs:complexType>
</xs:element>
<xs:element name="query-request-refused">
<xs:complexType>
<xs:all>
<xs:element minOccurs="0" ref="st:fault-details" />
</xs:all>
</xs:complexType>
</xs:element>
</xs:schema></types><interface name="SparqlQuery"><fault name="MalformedQuery" element="st:malformed-query" /><fault name="QueryRequestRefused" element="st:query-request-refused" /><operation name="query" style="http://www.w3.org/ns/wsdl/style/iri" pattern="http://www.w3.org/ns/wsdl/in-out" wsdlx:safe="false"><documentation>The operation is used to convey queries and their results from clients to services and back&#xd;
      again.</documentation><input element="st:query-request" wsaw:Action="urn:query" /><output element="st:query-result" wsaw:Action="urn:queryResponse" /><outfault ref="tns:MalformedQuery" wsaw:Action="urn:queryMalformedQuery" /><outfault ref="tns:QueryRequestRefused" wsaw:Action="urn:queryQueryRequestRefused" /></operation></interface><binding name="querySoap" interface="tns:SparqlQuery" type="http://www.w3.org/ns/wsdl/soap" wsoap:version="1.2"><fault ref="tns:QueryRequestRefused" /><fault ref="tns:MalformedQuery" /><operation ref="tns:query" /></binding><service name="JosekiQueryService" interface="tns:SparqlQuery"><endpoint name="sparql-query" binding="tns:querySoap" address="JosekiQueryService" /></service></description>