SOAP2/resources/xsd4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.w3.org/2001/XMLSchema-instance">
    <xs:annotation>
        <xs:documentation/>
    </xs:annotation>
    <xs:attribute name="nil"/>
    <xs:attribute name="type"/>
    <xs:attribute name="schemaLocation"/>
    <xs:attribute name="noNamespaceSchemaLocation"/>
</xs:schema>
